<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MavidSmileApp"
        tools:targetApi="31" >

        <!-- MainActivity, onde o NavHostFragment está, deve ser a activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras activities da sua aplicação -->
        <activity
            android:name=".WelcomeApplication"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>
